<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eljur_notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eljur_notifier.Properties.Settings>
            <setting name="ConStrFirebird" serializeAs="String">
                <value>          User=SYSDBA;
          Password=masterkey;
          Database=D:/School/Backup_PERCo_04.10.18/Backup_PERCo_04.10.18/4.10.18_9.23/NEWBASE.FDB;
          Port=3050;
          Dialect=3;
          Charset=WIN1251;
          Role=;
          Connection lifetime=30;
          Pooling=true;
          MinPoolSize=0;
          MaxPoolSize=50;
          Packet Size=8192;
ServerType=0;</value>
            </setting>
            <setting name="IntervalRequest" serializeAs="String">
                <value>5900</value>
            </setting>
        </eljur_notifier.Properties.Settings>
    </userSettings>
</configuration>